In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('train_numeric.csv')

In [9]:
df.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
df.describe()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
count,1.167999e+06,664928.000000,664928.000000,664928.000000,664928.000000,664928.000000,664928.000000,664928.000000,664928.000000,664928.000000,...,29931.000000,29931.000000,29931.000000,29931.000000,29931.000000,59027.000000,59027.000000,59027.000000,59027.000000,1.167998e+06
mean,1.168307e+06,0.000057,0.000101,0.000017,-0.000006,-0.000151,0.000098,-0.000046,-0.000378,0.000017,...,0.000001,0.000011,0.000412,0.000214,-0.002314,-0.000002,0.000038,0.000219,0.000057,5.801380e-03
std,6.743515e+05,0.080226,0.092809,0.211497,0.211611,0.094569,0.164511,0.019453,0.104134,0.114813,...,0.000436,0.000434,0.015443,0.007663,0.250094,0.000721,0.005825,0.008353,0.004225,7.594556e-02
min,4.000000e+00,-0.565000,-0.616000,-0.415000,-0.416000,-0.447000,-0.612000,-0.052000,-0.272000,-0.500000,...,-0.002000,0.000000,0.000000,0.000000,-0.750000,-0.001000,0.000000,0.000000,0.000000,0.000000e+00
25%,5.841825e+05,-0.049000,-0.056000,-0.179000,-0.179000,-0.056000,-0.066000,-0.015000,-0.072000,-0.082000,...,0.000000,0.000000,0.000000,0.000000,-0.250000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,1.169069e+06,0.003000,0.004000,-0.033000,-0.034000,0.031000,0.070000,0.000000,-0.032000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-0.250000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,1.751992e+06,0.056000,0.063000,0.294000,0.294000,0.074000,0.116000,0.015000,0.088000,0.076000,...,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
max,2.336006e+06,0.278000,0.302000,0.585000,0.584000,0.466000,0.388000,0.948000,0.688000,0.500000,...,0.069000,0.045000,1.000000,1.000000,0.250000,0.173000,1.000000,1.000000,1.000000,1.000000e+00

## Thoughts

The mean of my response is 0.005, so if I predict the negative class then I should have an accuracy of 99.995%
Which means that I beat the baseline of 40%. The problem I am running into is not having the memory to load these datasets on my computer. I could take the time to clear space, but that could be risky

In [11]:
df.isnull().sum()

Id                   0
L0_S0_F0        105208
L0_S0_F2        105208
L0_S0_F4        105208
L0_S0_F6        105208
                 ...
L3_S51_F4256    237140
L3_S51_F4258    237140
L3_S51_F4260    237140
L3_S51_F4262    237140
Response             0
Length: 970, dtype: int64

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [6]:
X_train = df.drop(columns=['Id', 'Response'])
y_train = df['Response']

In [7]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, train_size=0.8, random_state=42)

In [8]:
model = RandomForestClassifier()

### Sillyness

It may seem strange that I am filling NAN values on my train, but one of the is NAN, so we have to do something about that. The majority class is 0, so I am using that

In [14]:
X_train = X_train.fillna(X_train.mean())
X_val = X_val.fillna(X_val.mean())
y_train = y_train.fillna(0)
y_val = y_val.fillna(0)

In [11]:
X_train.isnull().sum()

L0_S0_F0        0
L0_S0_F2        0
L0_S0_F4        0
L0_S0_F6        0
L0_S0_F8        0
               ..
L3_S50_F4253    0
L3_S51_F4256    0
L3_S51_F4258    0
L3_S51_F4260    0
L3_S51_F4262    0
Length: 968, dtype: int64

In [15]:
y_train.isnull().sum()

0

In [16]:
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
val_pred = model.predict(X_val)

In [20]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [19]:
accuracy_score(y_val, val_pred)

0.9940282534246575

In [22]:
print(classification_report(y_val, val_pred))

              precision    recall  f1-score   support

         0.0       0.99      1.00      1.00    232254
         1.0       0.30      0.03      0.05      1346

    accuracy                           0.99    233600
   macro avg       0.65      0.51      0.52    233600
weighted avg       0.99      0.99      0.99    233600

In [23]:
test = pd.read_csv('test_numeric.csv')

In [25]:
X_test = test.drop(columns='Id')

## Memory

This is a sad day. I cannot preform these because of my poor memory management on my PC. I am trying to get a 1TB m.2 drive installed, but dont have the time to do that right now.

As you can see above I got a 30% precision score for the positive class, so this model is not super good at finding the positive class. 

If I had more time, I would first get this m.2 drive working, then I would preform sampling techniques to have more of the positive class in my training data. Maybe next time

In [26]:
X_test = X_test.fillna(X_test.mean())

MemoryError: Unable to allocate array with shape (968, 1183748) and data type float64

In [48]:
test_pred = model.predict(X_test)

In [49]:
sample = pd.read_csv('sample_submission.csv')

In [50]:
sample.head()

   Id  Response
0   1         0
1   2         0
2   3         0
3   5         0
4   8         0

In [51]:
sample.describe()

                 Id   Response
count  1.183748e+06  1183748.0
mean   1.183446e+06        0.0
std    6.834396e+05        0.0
min    1.000000e+00        0.0
25%    5.916385e+05        0.0
50%    1.182872e+06        0.0
75%    1.775553e+06        0.0
max    2.367494e+06        0.0